<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletCreationPersonne</servlet-name>
        <servlet-class>servlets.ServletCreationPersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListePersonne</servlet-name>
        <servlet-class>servlets.ServletListePersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEffacerPersonne</servlet-name>
        <servlet-class>servlets.ServletEffacerPersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMAJPersonne</servlet-name>
        <servlet-class>servlets.ServletMAJPersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFaireEffacementPersonne</servlet-name>
        <servlet-class>servlets.ServletFaireEffacementPersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFaireMAJPersonne</servlet-name>
        <servlet-class>servlets.ServletFaireMAJPersonne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>servlets.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreationPersonne</servlet-name>
        <url-pattern>/ServletCreationPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListePersonne</servlet-name>
        <url-pattern>/ServletListePersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEffacerPersonne</servlet-name>
        <url-pattern>/ServletEffacerPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMAJPersonne</servlet-name>
        <url-pattern>/ServletMAJPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFaireEffacementPersonne</servlet-name>
        <url-pattern>/ServletFaireEffacementPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFaireMAJPersonne</servlet-name>
        <url-pattern>/ServletFaireMAJPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
